<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Landmark</th>
  </tr>
  <tr>
    <td><%= @figure.name %></td>
    <td><%= @figure.titles %></td>
    <td><%= @figure.landmarks %></td>
  </tr>
<table>
